:root{
    --body-bg:#edf2fd;
    --white:#ffffff;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --hover_span_a:#333333;
}
*{
    font-family: hanyi;
    font-display: auto;
}
@font-face {
    font-family: hanyi;
    src: url(hanyi.TTF);
}
body{
    background: var(--body-bg);
}
.center_container{
    width: 400px;
    height: 200px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.title{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.title h2{
    font-size: 25px;
    letter-spacing: 0.8px;
    font-weight: 600;
    cursor:default;
}
.info{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info a{
    padding: 8px 20px;
    margin: 0 8px;
    border: 2px solid #000;
    font-family:hanyi;
    font-size: 20px;
    font-weight: 700;
    transition: 0.35s;
    user-select: none;
    color: #333;
}
.info a:hover{
    box-shadow: var(--box-shadow);
    border-style: dotted;
    border-color: #dae4ff;
    background: #dae4ff;
    transform: scale();
    color: var(--hover_span_a);
}

noscript{
    font-size: 18px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000000000000000;
    user-select: none;
    color: #ff8080;
    width: 90%;
    text-align: center;
    background: rgba(255,255,255,0.9);
    padding: 15px 0;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
}
noscript h1,
noscript p,
noscript code{
    font-family: 'Poppins', sans-serif;
}

noscript p code{
    padding: 0.2em 0.4em;
    margin: 0;
    border-radius: 6px;
    background: rgba(175,184,193,0.2);
}
.date_element{
    position: fixed;
    left: 5rem;
    top: 15rem;
    /* transform: translateX(-50%); */
}
.date_element span{
    font-size: 28px;
}
@media(max-width: 375px){
    .center_container{
        width: 90%;
    }
    .info{
        flex-direction: column;
    }
    .info a{
        margin: 8px auto;
        padding: 6px 18px;
    }
    .title h2{
        font-size: 20px;
    }
}